source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.4.0/direnvrc" "sha256-XQzUAvL6pysIJnRJyR7uVpmUSZfc7LSgWQwq/4mBr1U="
# reload when these files change
nix_direnv_watch_file flake.nix
nix_direnv_watch_file flake.lock
nix_direnv_watch_file flake/*.nix
nix_direnv_watch_file devenv/*.nix

if ! use flake . --impure
then
  echo "devenv could not be built. The devenv environment was not loaded. Make the necessary changes and hit enter to try again." >&2
fi
