mkdir -p .direnv
# reload when these files change
watch_file flake.nix
watch_file flake.lock
watch_file devshell.nix
# load the flake devShell
eval "$(nix print-dev-env --profile "$(direnv_layout_dir)/flake-profile")"
